
.container {
    margin: 0 auto;
    width: 1000px;
    background: lightblue;
    padding: 20px;
    align-content: center;
}
a {
    color: red;
}
a:visited {
    color: pink;
}

#hover-div {
    color: white;
    background-color: blue;
    margin: 0 auto;
    width: 1000px;
    padding: 20px;
    align-self: center;
    text-align: center;
}

#hover-div:hover {
    background-color: lightblue;
}
   
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:#0b3d91;
    color: white;
    text-align: center;
}

h1 {
    margin: 30px 0;
    font-size: 3rem;
    animation: glowTitle 3s infinite alternate;;
}

.food-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

.food-card {
    background: rgba(255,255,255,0.15);
    border-radius: 15px;
    padding: 20px;
}

.food-card:hover {
    transform: scale(1.08);
    animation:forwards 0.5s;
    background: rgba(255,255,255,0.3);
}

.food-card img {
    width: 100%;
    border-radius: 10px;
}

button {
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: #ffd700;
    color: #1e1e2f;
    font-weight: bold;
    transition: transform 0.2s;
}


button:active {
    transform: scale(0.9);
}

.snowflake {
    position: fixed;
    top: -10px;
    color: white;
    font-size: 1.5rem;
    animation: fall linear forwards;
}

@keyframes glowTitle {
    from { text-shadow: 0 0 5px #fff; }
    to { text-shadow: 0 0 20px #ffd700; }
}

@keyframes fall {
    to {
        transform: translateY(110vh);
        opacity: 0;
    }
}